#control-container{
    flex: 2;
    background-color: green;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}
#session-label{
    display: flex;
    padding: 20px;
}

#break-label{
    display: flex;
    padding: 20px;
}

#clock-container{
    background-color: red;
    flex:5;
    align-self: center;
    text-align: center;
}

#container{
    background-color: aqua;
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: row;
}


